.homeCtn{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("https://media.istockphoto.com/id/1319189303/photo/shot-of-two-men-working-on-their-computers-in-a-modern-office.jpg?b=1&s=612x612&w=0&k=20&c=YPHeE9uC-b9HZ3t2HUN9qdk8MdHXWp3ueWw8-ni39Ew=");
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
  }